<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test My Calculator" verbose="1" >

    <groups>
        <run>
            <include name="negative"/>
            <include name="positive"/>
        </run>
    </groups>

    <listeners>
        <listener class-name = "listeners.ListenersTestNG"/>
    </listeners>

    <test name="Run Calculator Test" parallel="methods" thread-count="2" >

        <classes>
            <class name="testPackage.CalculatorTest" />
        </classes>
    </test>

</suite>